* {
    background-color: azure;
    text-align: center;
}
.container {
    width: 50vw;
    height: 50vh;
    display: grid;
    background-color: bisque;
    grid-template-columns: repeat(8, auto);
    margin: auto auto;

}
#A {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: blanchedalmond;

}
#B {
    grid-area: 7 / 2 / 8 / 8;
    background-color: black;

}
#C {
    grid-column: 7 / 8;
    grid-row: 2 / 4;
    background-color: bisque;

}
.container:hover {
    background-color: blueviolet;
    
}
